
   .projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .stableStatus {
    background-color: #d4edda;
  }
  
  .alphaStatus {
    background-color: #f8d7da;
  }
  
  .betaStatus {
    background-color: #fff3cd;
  }
  .projectlist{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }